 <body class="top_body">
     <h1 class="top_h1">ようこそBookersへ！</h1>
      <p class="top_contents">
        <strong>Bookers</strong>
        では、さまざまな書籍に関するあなたの意見や<br>
        印象を共有し交換することができます
      </p>

      <p>
         <a href="/books">start</a>
      </p>
</body>