<!DOCTYPE html>
<html lang="ja">
  <head>

    <meta charest="UTF-8"/>
    <link rel="stylesheet" href="style5.css"/>
    <title>infratop</title>
   </head>
   
   <body> 
     <h1>ようこそBookersへ！</h1>
      <p>
        <strong>Bookers</strong>
        "では、さまざまな書籍に関するあなたの意見や"<br>
        "印象を共有し交換することができます"
      </p>

      <p>
         <a href="/books">start</a>
      </p>
    </body>
  </html>